body{
    background-color: rgb(77, 41, 206)
}
h1{
    color: white;
    text-align: center;
    border: solid 3px lightgray;
    margin: 40px;
    padding: 30px;
    border-radius: 20px;
}
div{
    color: white;
    text-align: center;
}
h2{
    padding:5px;
    text-align: center;
    border: solid 1px white;
}
strong{
    padding: 5px;
    text-align: center;
    border: solid 1px white;
    color:antiquewhite;
}
h3{
    padding: 10px;
    display: none;
    border: solid 3px lightgray;
    margin: 40px;
    margin: 30px;
}
p{
    padding: 10px;
    display: none;
    border: solid 3px lightgray;
    margin: 40px;
    margin: 30px;
    background-color: rgb(20, 222, 64);
}
table, th, td {
    border:1px solid white;
    color: aliceblue;
    padding: 5px;
}